<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <head>
      <h1><%= title %></h1>
    </head>
    <div role="main">
      <p>Hi, <%= user.name %>!</p>
      <p>Welcome to Markdown Search</p>
      <form action="/" method="post">
        <input type="text" name="search">
        <input type="submit" value="検索">
      </form>
      <hr>
      <p>※最近の投稿データ</p>
      <ul>
        <% for(const i in content){ %>
            <li><a href="/mark/<%= content[i].attributes.id %>"><%= content[i].attributes.title %></a></li>
        <% } %>
      </ul>
      <p><a href="/add">※データを登録</a></p>
    </div>
  </body>
</html>
